page {
  display: flex;
  flex-direction: column;
  height: calc(100vh - constant(safe-area-inset-bottom));
  height: calc(100vh - env(safe-area-inset-bottom));

  .player-wrap {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 60rpx;
    color: #fff;
  }

  .player-content {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.artist-name {
  color: rgb(184, 184, 184);
  text-align: center;
  margin-top: -14rpx;
  font-size: 26rpx;
}

// 歌曲封面图
.album-content {
  position: relative;
  text-align: center;
  margin: 100rpx 0 60rpx;

  &.pause {
    .image {
      animation-play-state: paused;
    }
  }

  .album {
    display: inline-block;
    position: relative;
    width: 70vw;
    height: 70vw;
    border-radius: 50%;

    &::after {
      content: "";
      position: absolute;
      inset: -3vw;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.15);
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
      z-index: 0;
    }
  }

  .image {
    position: relative;
    width: 100%;
    height: 100%;
    border: 13vw solid #000;
    border-radius: 50%;
    z-index: 1;
    animation: circleRoate 200s linear;
    animation-play-state: running;
    animation-fill-mode: forwards;
  }
}

// 歌曲信息
.music-info {
  flex: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  // background-color: rgba(255, 255, 255, 0.3);
  // border-radius: 18rpx;
}

// 歌词
.lyric {
  &-list {
    height: 100%;
    text-align: center;
  }

  &-item {
    min-height: 60rpx;
    line-height: 60rpx;
    color: rgb(184, 184, 184);

    &.active {
      color: #fff;
    }
  }
}

// 音轨
.track {
  margin-top: 60rpx;

  .progress {
    position: relative;

    .slider {
      .van-slider__button-wrapper {
        padding: 16rpx;
      }

      .van-slider__button {
        width: 12rpx;
        height: 12rpx;
      }
    }
  }

  .times {
    color: rgb(210, 210, 210);
    margin-top: 22rpx;
    display: flex;
    justify-content: space-between;
    font-size: 24rpx;
    font-family: 'Haettenschweiler', WeChatSansSS, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
}

// 操作按钮
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80rpx;

  .iconfont {
    font-size: 56rpx;
  }

  .pause-icon {
    font-size: 130rpx;
  }

  .last-icon,
  .next-icon {
    font-size: 80rpx;
  }
}

.bg-image,
.bg-cover {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-cover {
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: blur(45px);
}

.play-list-content {
  color: #000;
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);

  .title {
    position: relative;
    display: flex;
    align-items: center;
    padding: 32rpx 40rpx;
    font-size: 32rpx;

    .iconfont {
      margin-right: 34rpx;
      font-size: 46rpx;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1rpx;
      background-color: #d6d6d6;
    }
  }

  .music-list {
    max-height: (44rpx + 34rpx) * 10;
  }

  .music-item {
    display: flex;
    align-items: center;
    gap: 16rpx;
    height: 44rpx;
    margin: 34rpx 0;
    padding: 0 40rpx;
    color: #333;

    &.active {
      color: #21D49B;
    }

    .name {
      flex-shrink: 1;
      overflow: hidden; //超出的文本隐藏
      text-overflow: ellipsis; //溢出用省略号显示
      white-space: nowrap; //溢出不换行
    }

    .split {
      flex-shrink: 0;
      font-size: 26rpx;
    }

    .artist {
      flex-shrink: 0;
      max-width: 50%;
      font-size: 26rpx;
      overflow: hidden; //超出的文本隐藏
      text-overflow: ellipsis; //溢出用省略号显示
      white-space: nowrap; //溢出不换行
    }
  }
}

@keyframes circleRoate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(7600deg);
  }
}