@border-radius: 18rpx;

page {
  // 每个tabbar页面都需要设置高度
  height: calc(100vh - 50px - constant(safe-area-inset-bottom));
  height: calc(100vh - 50px - env(safe-area-inset-bottom));
  overflow: hidden;

  &>scroll-view {
    height: 100%;
  }
}

.music-view {
  padding: 0 34rpx 34rpx;
}

.custom-search {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;

  .van-search__content {
    background-color: #FFF;
  }

  .van-cell {
    justify-content: center;
  }

  .van-cell__value {
    flex: unset;
    width: 2em;
  }

  .van-cell__left-icon-wrap {
    margin-right: 6px;

    .van-icon--custom {
      color: #C8C9CC;
    }
  }
}

/* 轮播图样式 */
.swiper {
  width: 100vw;
  position: relative;
  left: -34rpx;
  margin-top: 48rpx;
  transform: translateY(0);

  /*水平指示器*/
  .wx-swiper-dots.wx-swiper-dots-horizontal {
    height: 14.8px;
    line-height: 14.8px;
    position: absolute;
    bottom: 12rpx;
    display: flex;
    align-items: center;
  }

  /*未选中点的样式*/
  .wx-swiper-dot {
    width: 12rpx;
    height: 12rpx;
    border-radius: 6rpx;
    background: rgba(255, 255, 255, 0.4) !important;
    margin-left: -8rpx
  }

  /*激活样式*/
  .wx-swiper-dot-active {
    background: #fff !important;
  }


  &-item {
    position: relative;
    display: flex;
    padding: 0 34rpx;
    box-sizing: border-box;
  }

  &-image {
    display: block;
    width: 100%;
    border-radius: @border-radius;
    overflow: hidden;
  }

  .banner-type-title {
    position: absolute;
    right: 12rpx + 34rpx;
    bottom: 12rpx;
    background-color: #fff;
    color: rgb(46, 46, 46);
    font-size: 20rpx;
    border-radius: 8rpx;
    padding: 2rpx 8rpx;
  }
}

.custom-scroll-view {
  width: 100vw;
  position: relative;
  left: -34rpx;
}

.scroll-x-content {
  white-space: nowrap;

  .playlist-item {
    &+.playlist-item {
      margin-left: 16rpx;
    }

    &:nth-child(1) {
      margin-left: 34rpx;
    }

    &:nth-last-child(1) {
      margin-right: 34rpx;
    }
  }
}

.ranking-list {
  display: flex;
  flex-direction: column;
  gap: 24rpx;
}